<div class="header">
  <div #hamburger class="menu-icon">
    <span class="fas fa-bars"></span>
  </div>
  <div class="logo">
    <a class="logo" href="">
      <img src="assets/images/logo-icon-transparent.png" alt="Logo"/>
      <div class="game">GAME</div>
      <div class="roast">ROAST</div>
    </a>
  </div>
  <div #search class="search-icon">
    <span class="fas fa-search"></span>
  </div>
  <div #cancel class="cancel-icon">
    <span class="fas fa-times"></span>
  </div>
  <form #form action="#">
    <input
      type="search"
      class="search-data"
      placeholder="Search"
      required
    />
    <button type="submit">
      <span class="fas fa-search"></span>
    </button>
  </form>
  <div #items class="header-items">
    <ng-container>
      <div *ngIf="AppConstants.isAdmin == true" class="headerPlatforms">
        <li><a href="#" class="headerPlatform">Add game</a></li>
      </div>
    </ng-container>
    <ng-container>
      <div *ngIf="AppConstants.isAdmin == false" class="headerPlatforms">
        <li><a href="#" class="headerPlatform">PS5</a></li>
        <li><a href="#" class="headerPlatform">PC</a></li>
        <li><a href="#" class="headerPlatform">XSX</a></li>
      </div>
    </ng-container>
    <li *ngIf="AppConstants.isAdmin == null; else loggedIn"><a href="#">Log in</a></li>
    <ng-template #loggedIn>
      <li><a href="#">Log out</a></li>
    </ng-template>
  </div>
</div>

