<div class="footer">
  <div class="footerData">
    <div class="footerLogo">
      <img src="assets/images/logo-icon-transparent.png" alt="Logo"/>
    </div>
    <div class="platforms">
      <a (click)="searchByPlatform('PS5')" class="platform">PS5</a>
      <div class="separator"></div>
      <a (click)="searchByPlatform('PC')" class="platform">PC</a>
      <div class="separator"></div>
      <a (click)="searchByPlatform('XSX')" class="platform">XSX</a>
    </div>
    <div class="rights">
      <span class="copyright">&nbsp;&nbsp;&copy; 2023 Jakub Nietupski</span>
    </div>
  </div>
</div>
