<div class="game">
  <a href="#">
    <div class="image">
      <img src="assets/images/game-icon-card.png" alt="Icon"/>
    </div>
    <div class="information">
      <div class="title">Counter-Strike 2</div>
      <div class="genreReleaseDate">
        <div class="genreDiv">
          <div class="genre">RPG</div>
        </div>
        <div class="releaseDate">18 listopada 1999</div>
        <div class="scoreBack">
          <div class="score">7</div>
        </div>
      </div>
      <div class="description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
        enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat.
      </div>
    </div>
  </a>
</div>

