<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Selected game</title>
</head>
<body>
<app-header></app-header>
<div class="main">
  <div class="mainBackground">
    <div class="topData">
      <div class="tileAndDescription">
        <div class="title">{{ game.title }}</div>
        <div class="description">{{ game.details }}
        </div>
      </div>
      <div class="ratingAndGameType">
        <div class="rating">
          <app-score-square [score]=game.overallScore></app-score-square>
          <ng-container>
            <div *ngIf="AppConstants.isAdmin == null" class="scoreButtonNull">
              <button routerLink="/login" routerLinkActive="active" mat-button>Log in to score this game!</button>
            </div>
          </ng-container>
          <ng-container>
            <div *ngIf="AppConstants.isAdmin == true" class="scoreButtonAdmin">
              <button routerLink="/save_the_game" routerLinkActive="active" mat-button class="update">Update</button>
              <button routerLink="/home" routerLinkActive="active" mat-button class="delete">Delete</button>
            </div>
          </ng-container>
          <ng-container>
            <div *ngIf="AppConstants.isAdmin == false" class="scoreButtonUser">
              <button routerLink="/score_the_game" routerLinkActive="active" mat-button>Score the game</button>
            </div>
          </ng-container>
        </div>
        <div class="gameType">
          <ul class="gameInfoList">
            <li>Developer: {{ game.developer }}</li>
            <li>Genre: {{ game.genre }}</li>
            <li>Release date: {{ date }}</li>
            <li>Platforms: {{ getPlatformNames() }}</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="userRatings">
      <div class="userReviewsHeader">User reviews</div>
      <ng-container>
        <div *ngIf="AppConstants.isAdmin == false" class="scoreButtonUser">
          <button routerLink="/score_the_game" routerLinkActive="active" mat-button>Score the game</button>
        </div>
      </ng-container>
      <app-comment></app-comment>
    </div>
  </div>
</div>
<app-footer></app-footer>
</body>
</html>
