.radio-item {
  display: flex;
  align-items: center;
  font-size: 14px;
}

input[type="radio"] {
  margin-right: 5px;
}

@media (max-width: 1340px) {
  .text {
    font-size: 14px;
  }

  label {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  .text {
    font-size: 13px;
  }

  .input {
    width: 100%;
  }

  label {
    font-size: 11px;
  }
}
