<div class="comment">
  <div class="restOfComment">
    <div class="xpp">
      <app-score-square-comment [gameScore]=comment.score></app-score-square-comment>
      <div class="nickname">{{ comment.user.username }}</div>
    </div>
    <div class="dateAndX">
      <div class="date">{{ date }}</div>
      <ng-container>
        <div *ngIf="AppConstants.isAdmin==true" class="X">
          <button (click)="deleteButtonClicked()">&#10060;</button>
        </div>
      </ng-container>
    </div>
  </div>
  <div class="commentText">{{ comment.opinion }}</div>
</div>
