.checkbox {
  padding-right: 10px;
}

label {
  font-size: 14px;
  padding-right: 10px;
  padding-left: 5px;
}

@media (max-width: 1340px) {
  label {
    font-size: 12px;
  }
}

@media (max-width: 600px) {
  label {
    font-size: 11px;
  }
}
