.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  min-height: 80vh;
  flex-direction: column;
  background: #f7f7f7;
}

.mainBackground {
  background: #f7f7f7;
  width: 70%;
}

.title {
  color: #333;
  font-size: 24px;
  font-weight: 600;
  padding: 45px;
}

.allInputs {
  display: flex;
  justify-content: center;
}

.column {
  padding: 0 40px 25px 50px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.formField {
  padding: 0 0 25px 0;
  width: 100%;
}

.formField mat-label {
  font-size: 16px;
}

.formField input {
  font-size: 14px;
}

.formField textarea {
  font-size: 14px;
}

.formField select {
  font-size: 14px
}

.formField select * {
font-size: 14px
}

.text {
  font-size: 16px;
}

input::file-selector-button {
  margin-top: 20px;
  color: black;
  padding: 0.5em;
  border: thin solid grey;
  border-radius: 3px;
}

input::file-selector-button:hover {
  background-color: #dcdcdc;
}

.genre {
  padding: 0 0 25px 0;
}

.actionButtons {
  display: flex;
  justify-content: right;
  padding: 0 90px 20px 0;
}

.submit {
  margin-left: 20px;
  border: none;
  cursor: pointer;
  width: 108px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #ffe842;
}

button:disabled {
  background-color: #d9d9d9;
}

.cancel {
  width: 108px;
  height: 37px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #d9d9d9;
  border: none;
  cursor: pointer;
}


/* RESPONSIVE */

@media (max-width: 1340px) {
  .title {
    font-size: 20px;
  }

  .text {
    font-size: 14px;
  }

  .formField mat-label {
    font-size: 14px;
  }

  .formField input {
    font-size: 12px;
  }

  .formField textarea {
    font-size: 12px;
  }

  .formField select {
    font-size: 12px
  }

  .formField select * {
    font-size: 12px
  }

  .actionButtons button {
    width: 75px;
    height: 30px;
    font-size: 11px;
  }
}

@media (max-width: 1050px) {
  .allInputs {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .title {
    font-size: 16px;
    padding: 30px;
  }

  .column {
    padding: 0 25px 25px;
  }

  .text {
    font-size: 13px;
  }

  .formField mat-label {
    font-size: 13px;
  }

  .formField input {
    font-size: 11px;
  }

  .formField textarea {
    font-size: 11px;
  }

  .formField select {
    font-size: 11px
  }

  .formField select * {
    font-size: 11px
  }

  .custom-file-input {
    width: 100%;
  }

  .custom-file-input::before {
    font-size: 10px;
  }

  .actionButtons {
    padding: 20px;
  }
  .actionButtons button{
    width: 65px;
    height: 25px;
    font-size: 10px;
  }
}
