<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Save the game</title>
</head>
<body>
<app-header></app-header>
<div class="main">
  <div class="mainBackground">
    <div class="title">Add/Update game panel</div>
    <div class="allInputs">
      <div class="column">
        <mat-form-field class="formField">
          <mat-label>Title</mat-label>
          <input matInput [(ngModel)]="title" name="title" ngDefaultControl placeholder="Ex. Eft" required>
        </mat-form-field>

        <mat-form-field class="formField">
          <mat-label>Description</mat-label>
          <textarea matInput [(ngModel)]="description" name="description" ngDefaultControl
                    placeholder="Ex. This game is about..." required></textarea>
        </mat-form-field>

        <mat-form-field class="formField">
          <mat-label>Choose a date</mat-label>
          <input matInput [(ngModel)]="date" name="date" ngDefaultControl [matDatepicker]="picker" required>
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <div class="text">Game picture</div>
        <input class="custom-file-input"
               name="fileName"
               ngDefaultControl
               type="file"
               id="fileUpload"
               accept="image/png,
                image/jpeg"
               (change)="onFileSelected($event)"
        />

      </div>
      <div class="column">
        <mat-form-field class="formField">
          <mat-label>Developer</mat-label>
          <input matInput [(ngModel)]="developer" name="developer" ngDefaultControl placeholder="Ex. Bandicam" required>
        </mat-form-field>

        <div class="genre">
          <mat-form-field class="formField">
            <mat-label>Genre</mat-label>
            <select matNativeControl required [(ngModel)]="genre" name="genre" ngDefaultControl>
              <option value="Action">Action</option>
              <option value="RPG">RPG</option>
              <option value="Sports">Sports</option>
              <option value="Adventure">Adventure</option>
              <option value="Simulation">Simulation</option>
              <option value="MMO">MMO</option>
              <option value="Puzzle">Puzzle</option>
              <option value="Strategy">Strategy</option>
              <option value="FPS">FPS</option>
            </select>
          </mat-form-field>

        </div>
        <div class="checks">

          <div class="text">Platform</div>
          <mat-card-content>
            <section class="formField">
              <mat-checkbox [(ngModel)]="platforms[0].checked" name="platforms" ngDefaultControl>PC</mat-checkbox>
              <mat-checkbox [(ngModel)]="platforms[1].checked" name="platforms" ngDefaultControl>PS5</mat-checkbox>
              <mat-checkbox [(ngModel)]="platforms[2].checked" name="platforms" ngDefaultControl>XSX</mat-checkbox>
            </section>
          </mat-card-content>
        </div>
      </div>
    </div>
    <div class="actionButtons">
      <button (click)="backClicked()" mat-button class="cancel">Cancel</button>
      <button (click)="submitClicked()" mat-button class="submit">Submit</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
</body>
</html>
