<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
</head>
<body>
<div class="container">
  <div class="head">
    <div class="headText">Login</div>
    <div class="logo"><img src="assets/images/logo-icon-full.png" alt="Logo"/></div>
  </div>
  <div class="loginForm">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput required [(ngModel)]="username">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input matInput [type]="hide ? 'password' : 'text'" required [(ngModel)]="password">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>

    <button mat-raised-button color="accent">Login</button>

    <div class="signUpText">
      <div class="question">Don’t have an account?</div>
      <a routerLink="/register" routerLinkActive="active"
         class="signUp" href="">Sign Up</a>
    </div>
  </div>
</div>
</body>
</html>
