<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
</head>
<body>
<div class="container">
  <div class="head">
    <div class="headText">Login</div>
    <div class="logo"><img src="assets/images/logo-icon-full.png" alt="Logo"/></div>
  </div>
  <div class="loginForm">
    <app-input-form text="Username" type="text"></app-input-form>
    <app-input-form text="Password" type="password"></app-input-form>
    <button class="loginButton">Login</button>
    <div class="signUpText">
      <div class="question">Don’t have an account?</div>
      <a routerLink="/register" routerLinkActive="active"
         class="signUp" href="">Sign Up</a>
    </div>
  </div>
</div>
</body>
</html>
