.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 120px;
}

.head {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 25px;
}

.headText {
  color: #007AFF;
  font-size: 39px;
  font-weight: 600;
  padding-bottom: 20px;
}

img {
  width: 100%;
  max-width: 200px;
  height: auto;
}

.loginForm {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  width: 100%;
}

.signUpText {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 25px;
  font-size: 12px;
  color: #1c12fd;
  margin-top: 20px;
}

@media only screen and (max-width: 1280px) {
  .container {
    margin-top: 30px;
  }

  .headText {
    font-size: 32px;
  }

  .signUpText {
    font-size: 10px;
  }
}
